* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--soft-blue);
    height: 100vh;
}
:root {
    --blue-primary: #025FF4;
    --soft-blue-white: #F5F6FA;
    --white: #FFFFFF;
    --dark-blue: #000610;
    --black: #000000;
    --soft-blue: #F2F6FE;
    --grey: #C4C4C4;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--black);
    padding: 20px 30px;
    position: fixed;
    z-index: 999;
}

.header .logo img {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--blue-primary);
    font-weight: 500;
}

.header button {
    padding: 10px 40px;
    background-color: var(--blue-primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header button:hover {
    background-color: #afceff;
    color: black;
}


.content {
    display: flex;
    flex-direction: row;
    height: 120vh;
}

.banner {
    width: 30%;
    height: 101vh;
    background-image: url(../img/banner-3.png);
    object-fit: cover;
    gap: 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner .desc {
    transform: translateY(150px);
}

.banner h3 {
    font-size: 13px;
    text-transform: uppercase;
    color: var(--blue-primary);
    font-weight: 400;
}

.banner h1 {
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.banner p {
    color: white;
    font-size: 19px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    background-color: var(--white);
    padding: 50px;
    width: 42%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin: 30px;
}

form input {
    background: none;
    border: none;
    width: 100%;
}

.input {
    border: 1px solid var(--grey);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: var(--grey);
    border-radius: 10px;
}

.input-sect {
    width: 100%;
}

form a{
    text-decoration: none;
    font-size: 13px;
    color: var(--blue-primary);
}

form button {
    width: 100%;
    height: 40px;
    background-color: var(--blue-primary);
    color: var(--white);
    border: none;
    border-radius: 10px;
}

form .one {
    display: flex;
    gap: 5px;
}
form h1 {
    font-size: 23px;
    font-weight: 600;
}
form p {
        text-decoration: none;
    font-size: 13px;
}

.container .sop {
    text-align: center;
    font-size: 13px;
}

.sop a {
    text-decoration: none;
    color: var(--blue-primary);
}